.container-publi3 {
  display: flex;
  width: 100%;
  justify-content: center;
  margin-top: 20px;
}

.container-img3 {
   display: flex;
  margin-top: -80px;
  margin-right: -125px;
  width: 74.3%;
  height: auto;
  position: relative;
    left: 3%;

}

.container-publi img3 {
  width: 200%;
  height: 150px;
  object-fit: cover;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  margin-right: 200px;
}

.piblish {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  object-fit: cover;
}


@media (max-width: 768px) {
  .container-publi3 {
    display: flex;
    justify-content: center;
margin-left: 40%;
    margin-top: 20px;
    position: relative;
    right: 3%;
  }

  .container-publi img3 {
    width: 150vh;
    height: 150px;
    object-fit: cover;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    margin-right: 200px;
 position: relative;
    right: 7%;

  }

  .container-img3 {
    width: 500px;
margin-top: 80px;

    object-fit: cover;
    position: relative;
    left: 15%;
    top: -24px;
  }
}
