.container-publi {
  display: flex;
  width: 100%;
  justify-content: center;
  margin-top: 20px;
}

.container-img {
  display: flex;
  margin-top: 40px;
  margin-right: -125px;
  width: 74.3%;
}

.container-publi img {
  width: 200%;
  height: 150px;
  object-fit: cover;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  margin-right: 200px;
}
